#fruList{
    display: flex;
}
li{
    display: flex;
    font-size: larger;
    text-align: center;
}
#vegList{
    display: flex;
}
li{
    display: flex;
    font-size: larger;
    text-align: center;

}
#fruList,img{
    height: 300px;
    width: 400px;

}
#vegList,img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
body{
    height: 100%;

}
h1{
    text-align: center;
}
p{
    text-align: center;
}
